.entete{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

}
.menu__recheche{
    
    @media screen and (min-width: 900px) { 
    flex: 1;
    display: flex;
    align-items: center;
    }
}
.menu{
    display: flex;
}
menu>a{
    padding: 2px;
    display:block;
}
